<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

<%= button_to 'Find Top Rated Movies', movies_top_rated_path, method: 'get' %>
<%= button_to 'Upcoming Movies', movies_upcoming_path, method: 'get' %>

<h2>Or</h2>

<%= form_with url: movies_path, method: 'get', local: true do |f| %>
  <%= f.text_field :movie_title , placeholder: "Search by movie title"%>
  <%= f.submit "Find Movies" %>
<% end %>
