<h1><%= @movie.title %></h1><br>

<div class="container">
<%= button_to 'Create viewing party for movie', viewing_party_new_path, method: :get,
    params: { title: @movie.title,
              runtime: @movie.runtime,
              movie_id: @movie.movie_id}, class: "btn btn-outline-primary" %>
</div>

<div class="indent">
  <section id='details'>
    <p>
      <b>Vote Average:</b> <%= @movie.vote_average %><br>
      <b>Runtime:</b> <%= @movie.runtime_conversion %><br>
      <b>Genre(s): </b> <%= @movie.retrieve_genres %><br>
    </p>
  </section>

  <% if !@movie.poster.nil? %>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/<%= @movie.poster %>" class="image" alt="movie poster" width="30%">
  <% end %>

  <section id='summary'>
    <p>
      <b>Summary</b><br>
      <%= @movie.overview %>
    </p>
  </section>


  <b>Cast</b><br>
  <% if @movie.cast != []%>
    <section id='cast'>
        <% @movie.formatted_cast.each do |cast| %>
          <section id='cast-<%= cast[:cast_id] %>'>
            <%= cast[:role] %>
          </section>
        <% end %>
    </section><br>
  <% end %>

  <b><%= @movie.review_count %> Reviews</b><br>
  <% if @movie.reviews != []%>
    <section id='reviews'>
      <% @movie.formatted_reviews.each do |review| %>
        <section id='review-<%= review.review_id %>'>
          <b>Author: <%= review.author %></b><br>
          <%= review.content %>
        </section><br>
      <% end %>
    </section><br>
  <% end %>

  <b><%= @movie.review_count %> Reviews</b><br>
  <% if @movie.reviews != []%>
    <section class='reviews'>
      <% @movie.formatted_reviews.each do |review| %>
        <section id='review-<%= review.review_id %>'>
          <b>Author: <%= review.author %></b><br>
          <%= review.content %>
        </section><br>
      <% end %>
    </section>
  <% end %>
  <br>
  <b>Similar Movies</b>
  <section id="similar-movies">
    <% @movie.similar_movies.each do |movie| %>
    <p>
      <%= link_to movie.title, "/movies/#{movie.movie_id}" %>
      Average Rating: <%= movie.vote_average %>
    </p>
  <% end %>
  </section>
</div>
